@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
  padding: 60px 20px 20px;
  margin-top: 80px;
}

.footer-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-box h3 {
  margin-bottom: 15px;
}

.footer-box p {
  color: #cbd5e1;
  line-height: 1.6;
}

.logo {
  color: #38bdf8;
  margin-bottom: 10px;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #38bdf8;
  padding-left: 5px;
}

.socials span {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.socials span:hover {
  transform: scale(1.2);
}

.newsletter {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.newsletter button {
  padding: 10px 16px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.newsletter button:hover {
  background: #0284c7;
}

.contact {
  margin-top: 15px;
  color: #cbd5e1;
  font-size: 14px;
}

.footer-bottom {
  border-top: 1px solid #1e293b;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  color: #94a3b8;
}